/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* colors */
div.statistics-graph { height: 330px; }

p.statistics-graph-hint { padding: 10px 0px 0px 20px; margin-bottom: 0; }

div.statistics-graph-stats { height: 150px; margin-top: 20px; padding: 10px; overflow: auto; display: none; background-color: #fff; }
div.statistics-graph-stats div.entry { overflow: hidden; *zoom: 1; padding-bottom: 5px; }
div.statistics-graph-stats div.entry:hover { background-color: #f5f5f5; }
div.statistics-graph-stats div.entry div.points { display: inline; float: left; width: 32px; }
div.statistics-graph-stats div.entry div.points span.grpos { color: green; font-weight: bold; }
div.statistics-graph-stats div.entry div.points div.grpos { color: green; font-weight: bold; }
div.statistics-graph-stats div.entry div.points div.grneg { color: maroon; font-weight: bold; }
div.statistics-graph-stats div.entry div.desc { display: inline; float: left; padding-left: 5px; }

div.charts-group { overflow: hidden; *zoom: 1; }
div.charts-group div.chart { display: inline; float: left; }

div.base-chart { height: 380px; }

table.statistics-graph-choices td { text-align: left; padding: 0px; border-bottom: none; }
table.statistics-graph-choices td.rightChoices { background-color: #ffa000; }
table.statistics-graph-choices td.rightChoices.selected { background-color: #ff7e00; }
table.statistics-graph-choices td.mainChoices { background-color: #99CCFF; }
table.statistics-graph-choices td.mainChoices.selected { background-color: #0077cc; }
table.statistics-graph-choices td.singleChoices { background-color: #f5f5f5; }
table.statistics-graph-choices td.singleChoices.selected { background-color: #aaaaaa; }
table.statistics-graph-choices td.label { padding-left: 5px; }

input[type="text"].statistics_input { border: 1px solid #aaaaaa; padding: 4px 2px; }

a.statistics-title { font-weight: bold; }
a.statistics-title div.main_choices { display: inline; float: left; padding-right: 9px; padding-left: 23px; background: url("/static/djangojames/img/main_sequence.gif") no-repeat scroll left center transparent; }
a.statistics-title div.right_choices { display: inline; float: left; padding-left: 23px; background: url("/static/djangojames/img/right_sequence.gif") no-repeat scroll left center transparent; }

div.float-cont { overflow: hidden; *zoom: 1; }
div.float-cont div.left-cnt { display: inline; float: left; padding-right: 10px; }

div.hr-top { border-top: 1px solid #eaeaea; }

div.loader { background: url(/static/djangojames/img/loader.gif) no-repeat 5px 4px; height: 30px; width: 100%; }

div.spacer-10 { height: 10px; width: 100%; clear: both; }

div.spacer-20 { height: 20px; width: 100%; clear: both; }

div.box { overflow: hidden; *zoom: 1; }
div.box.grey { background-color: #f5f5f5; }
div.box.padding { padding: 20px; }
div.box.padding.small { padding: 10px; }

#header { background: none repeat scroll 0 0 #D8D8D8; }
#header #branding h1 { margin: 0; padding: 0; height: 0px; width: 0px; font-size: 15px; color: #94CC3D; font-weight: bold; visibility: hidden; }

div.breadcrumbs { display: block; padding: 10px 15px; border: 0; background-position: 0 -8px; border-bottom: 1px solid #ededed; }
div.breadcrumbs a { display: inline; }

div#user-tools { color: grey; margin-right: 50px; }
div#user-tools a { color: grey; }

#header a:link, #header a:visited { color: grey; }
