/* colors */
p.statistics-graph-hint { padding: 10px 0px 0px 20px; margin-bottom: 0; }

div.chart-container { height: 380px; }

table.statistics-graph-choices td { text-align: left; padding: 0px; border-bottom: none; }
table.statistics-graph-choices td.rightChoices { background-color: #ffa000; }
table.statistics-graph-choices td.rightChoices.selected { background-color: #ff7e00; }
table.statistics-graph-choices td.mainChoices { background-color: #99CCFF; }
table.statistics-graph-choices td.mainChoices.selected { background-color: #0077cc; }
table.statistics-graph-choices td.singleChoices { background-color: #f5f5f5; }
table.statistics-graph-choices td.singleChoices.selected { background-color: #aaaaaa; }
table.statistics-graph-choices td.label { padding-left: 5px; }

a.statistics-title { font-weight: bold; }
a.statistics-title div.main_choices { display: inline; float: left; padding-right: 9px; padding-left: 23px; background: url("/static/djangojames/img/main_sequence.gif") no-repeat scroll left center transparent; }
a.statistics-title div.right_choices { display: inline; float: left; padding-left: 23px; background: url("/static/djangojames/img/right_sequence.gif") no-repeat scroll left center transparent; }
